@import url("http://fonts.cdnfonts.com/css/red-hat-display");
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #345B63;  
  color: #D4ECDD;
  width: 100%;
}
footer {
    background-color: #2C3333;
    color: #D4ECDD;
  }
  /* start */
  h5 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #D4ECDD;
    
 }
 
.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}
  /* picture*/
  #me {
    text-align: center;
    background-size: cover;
    overflow: hidden;
    padding-top: 40px;
  }
  #me {
    line-height: 1.5;
  }
  #me .profile-image {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }
  #me .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
  }
  @media screen and (min-width: 720px) {
  
    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex; 
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    main {
      padding-top: 20px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
  }
  
  /* end start */
  /* skills*/
 
  .resume-section {
    text-align: center;
    font-size: 1.2rem;
    color: #D4ECDD;
    font-family: "Red Hat Display", sans-serif;
  }
  .list-inline {
    list-style: none;
  }
  
  .list-icons {
    font-size: 2.5rem;
  }
  
  #skill-bars {
    width: 50%;
    margin: 0 auto;
  }
  
  .progress-bar,
  .btn {
    background-image: linear-gradient(
      to right,
      #bfefff,
      #8dd2f3,
      #5fb4e8,
      #3594dc,
      #1874cd
    );
  }
  
  .fa-user-tag,
  .blue,
  .list-inline-item i:hover {
    color:#112031;
    transition: all 0.2s ease-in-out;
    
  }
  /*end skills*/
  /* timeline */
  h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 600;
    color: #D4ECDD;
 }
  .timeline-container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
 }
  .timeline-container .vertical-scrollable-timeline {
    width: 600px;
    list-style-type: none;
 }
  .timeline-container .vertical-scrollable-timeline li {
    position: relative;
    padding: 41px 0px 123px 128px;
 }
  .timeline-container .vertical-scrollable-timeline li:last-child {
    margin-bottom: 0;
 }
  .timeline-container .vertical-scrollable-timeline li h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #D4ECDD;
 }
  .timeline-container .vertical-scrollable-timeline li p {
    line-height: 1.5;
    color: #D4ECDD;
 }
  .timeline-container .vertical-scrollable-timeline li p:last-child {
    margin-bottom: 0;
 }
  .timeline-container .vertical-scrollable-timeline li .icon-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4ECDD;
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s all;
 }
  .timeline-container .vertical-scrollable-timeline li .icon-holder::before {
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    position: absolute;
    background-color: #345B63;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s all;
 }
  .timeline-container .vertical-scrollable-timeline li .icon-holder i {
    font-size: 25px;
    color: #D4ECDD;
 }
  .timeline-container .vertical-scrollable-timeline li::after {
    content: '';
    position: absolute;
    height: 0;
    width: 8px;
    background-color: #152D35;
    left: 48px;
    top: 34px;
    z-index: 0;
    transition: 0.4s all;
 }
  .timeline-container .vertical-scrollable-timeline li::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: #c5c3cb;
    left: 48px;
    z-index: 0;
 }
  .timeline-container .vertical-scrollable-timeline li:last-child::before {
    content: unset;
 }
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder {
    background-color: #152D35;
 }
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
    background-color: #152D35;
 }
  .timeline-container .vertical-scrollable-timeline li.active::after {
    height: 100%;
 }
  .timeline-container .vertical-scrollable-timeline li.active:last-child::after {
    content: unset;
 }
.ed-text{
  padding-right: 15px;
  
}
  /*end timeline*/
  /* achieve */
  p.site-title {
    color: #000000;
  }
  article.col-md-4 col-lg-4 {
    background: #f5f5f5;
    margin-top: 1em;  
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  div.card-content-achieve {
    background: #112031;
    padding: 0.5em;
    margin-top: 1em;  
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }    
  div.card-content-achieve h3 {
    margin-bottom: 0.5em;
    font-weight: normal;
  }
  div.card-content-achieve p {
    font-size: 95%;
  }

  h4.spectrum-h2 {
    color:white;
   }
   div a, a:hover {
    text-decoration: none;
  }
  
  div a:hover {
    opacity: 0.8;
  } 
  .image-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.banner-content {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.5;
}
.img-content img {
    width: 100%;
    height: 100vh;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    opacity: .8;
    z-index: 999;
    height: 100%;
}  